.profile__img {
    margin: auto;
    width: 300px;
    padding-bottom: 1rem;
}

.profile__img img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10rem;
}

.profile__details {
    text-align: center;
}

.profile__details-email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--color-gray);
}

.profile__control {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}