.teamOutlook {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.teamOutlook__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 100%;
}