.reviewForms__item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    max-width: 100%;
}

.reviewForms__item-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 15px;
}

.reviewForms__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.reviewForms__item-requestor {
    flex: 1;
    color: var(--color-gray);
}